absl-py==0.12.0
anykeystore==0.2
asgiref==3.3.1
astunparse==1.6.3
backcall==0.2.0
boto3==1.18.13
botocore==1.21.13
cachetools==4.2.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
cryptacular==1.5.5
cycler==0.10.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1615224146321/work
decorator==5.0.9
deepspeed==0.4.1
defusedxml==0.7.1
Django==3.1.12
docopt==0.6.2
easydict==1.9
entrypoints==0.3
filelock==3.0.12
flatbuffers==1.12
gast==0.3.3
gensim==3.8.3
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.32.0
h5py==2.10.0
huggingface-hub==0.4.0
hupper==1.10.3
idna==3.2
imgviz==1.4.1
importlib-metadata==3.7.3
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.0
jmespath==0.10.0
joblib==1.0.1
jupyter-client==7.0.5
jupyter-core==4.8.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
keybert==0.2.0
kiwisolver==1.3.1
labelme==4.6.0
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.1.0
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
mpu==0.23.1
MulticoreTSNE==0.1
nest-asyncio==1.5.1
ninja==1.10.0.post2
nltk==3.6.4
numba==0.53.0
numpy==1.19.5
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
parso==0.8.2
PasteDeploy==2.1.1
pbkdf2==1.3
pdfminer.six==20200517
pdfplumber==0.5.28
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pipreqs==0.4.11
plaster==1.0
plaster-pastedeploy==0.7
plotly==4.14.3
prompt-toolkit==3.0.20
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.10.0
PyMySQL==1.0.2
pynndescent==0.5.2
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyramid==2.0
pyramid-mailer==0.15.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytorch-pretrained-bert==0.6.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==20.0.0
QtPy==1.11.3
regex==2021.8.3
repoze.sendmail==4.4.1
requests==2.26.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.5.0
sacremoses==0.0.43
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
six==1.15.0
sklearn==0.0
smart-open==4.2.0
sortedcontainers==2.4.0
spark-parser==1.8.9
SQLAlchemy==1.4.19
sqlparse==0.4.1
svgwrite==1.4.1
tensorboard==2.4.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.0
tensorboardX==1.8
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.2
termcolor==1.1.0
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
tokenizers==0.10.1
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado==6.1
tqdm==4.62.0
traitlets==4.3.3
transaction==3.0.1
transformers==4.16.2
translationstring==1.4
Tree==0.2.4
triton==0.4.2
typing-extensions==3.7.4.3
umap-learn==0.5.1
uncompyle6==3.7.4
urllib3==1.26.6
velruse==1.1.1
venusian==3.0.0
Wand==0.6.6
wcwidth==0.2.5
WebOb==1.8.7
Werkzeug==1.0.1
wordcloud==1.8.1
wrapt==1.12.1
WTForms==2.3.3
wtforms-recaptcha==0.3.2
xdis==5.0.11
xlrd==2.0.1
yarg==0.1.9
zipp==3.4.1
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.4
